
# Logs
logs/
*.log

.idea
venv

*.pyc
*.pyo
*.pyd

env/
pip-log.txt

.env
.env.local
.env.*.local
config.json
secrets.json
credentials/

*.pyc
__pycache__
__pycache__/
\__pycache__\
/__pycache__/
**/__pycache__/

.coverage
pytest.ini

__pytest_cache__
\__pytest_cache__\
/__pytest_cache__/
**/__pytest_cache__/
*celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
keys
private.pem
public.pem
